    
nav{
    background-color: green;
    padding: 10px;
    text-align: center;
    }
    nav ul li{
        display: inline;
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    nav>ul>li>a{
        padding: 10px;
        text-decoration: none;
        font-size: 25px;
    }
    nav>ul>li>a:hover{
        background-color: black;
        padding: 20px;
    }
    .welcome{
    width: 280px;
    height:auto;
    background-color: black;
    opacity: 0.9;
    padding: 55px;
    float:left;
    
    color: darkgray;
    font-weight: normal;
    
    }
    .welcome h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 100px;
    
    }
    .welcome #home p{
        color: darkgray;
    }
    .welcome #books p{
        color: darkgray;
    }
    .welcome #ourteam p{
        color: darkgray;
    }

    .welcome h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 40px auto; 
    color: white;
    }
    
        
    
    #home{
    padding-top: 3rem;
    image-orientation: flip;
   
    }
        
    #books{
    color: black;
   
    }
    button{
    width: 180px;
    height: 35px;
    border: 1px green;
    border-radius: 5px;
    color: black;
    }
    footer{
    text-align: center;
    color: black;
    background-color:green;
    height: 100%;
    width: 100%;
    padding-bottom: 1px;
    font-family: 'Six Caps', sans-serif;

    }
    
    footer>p{
    padding:5px
    }
    
    h2{
    color: black;
    }
    
    #onlineorder{
    color: black;
    }
    
    #ourteam{
    color: black;
    }
    
    #home{
    color: black;
    }
    #home h1 {
    color: lawngreen;
    }
    #contactus{
    text-align: center;
    }
    
    #topsellers{
        display: flexbox;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
        padding-left: 300px;
        padding-right: 90px;
        padding-top: 25px;
    }
    #heading{
        text-align: center;
        float: inline-start;
    }
    .booksearch{
        padding-left: 200px;
        float: right;
        
    }
    form.booksearch button {
        float: inline-end;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;
      }
    
      form.booksearch button:hover {
        background: #0b7dda;
      }
      form.booksearch::after {
        content: "";
         display: table;
      }